node_modules
.next
.DS_Store
.env
.env.development.local
.env.test.local
.env.*.local
venv/
ENV/
env/
.venv/

package-lock.json
pnpm-lock.yaml
yarn.lock
.vscode
.idea
dist
build
out
coverage

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/
logs/
