fastapi
uvicorn[standard]
httpx
requests
beautifulsoup4
pydantic
sqlalchemy
passlib[bcrypt]
bcrypt
python-jose[cryptography]
pydantic_settings
python-multipart
psycopg2-binary
python-dotenv
sse-starlette

# LLM interaction
langchain-openrouter
langchain-openai
langchain-community
langchain-huggingface
langchain-text-splitters
datasets
rank-bm25
ragas

# Scientific papers & Search
arxiv

# MCP Client Protocol
mcp

# Scraping & Data Processing
crawl4ai
faiss-cpu
sentence-transformers
transformers
torch
Pillow
pymupdf

# Orchestration
langgraph
sentencepiece
protobuf